.button{
    color: white;
    border-radius: 2rem;
    background-color: rgb(31 31 123);
    -webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.82);
    -moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.82);
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.82);
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: bold;
  }
  .button:hover{
    background-color: rgb(37, 37, 212);
  }