*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
#root{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
form{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calculadora{
  width: 380px;
  height: 512.2px;
  border: 24px solid rgb(31 31 123); 
  border-radius: 2.4rem;
  background-color: rgb(37, 37, 212);
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.82);
  -moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.82);
  box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.82);
}

@media (max-width: 640px) {
  form{
      display: flex;
      justify-content: start;
      align-items: center;
  }
  .calculadora{
      margin-top: 0;
      width: 100%;
      
  }
}